<div class="container-fluid" style="height: 660px;margin-top:20px">
  <div class="row  h-100">
    <div class="col-7">

<!-- AREA ESQUERDA -->

 <!-- Area de apresentacao -->

    </div>
    <div class="col" id="login-area">
<!-- AREA DIREITA -->
  <!-- Area de Login -->
    
    <div id="form-area">
    <form>
      <div class="form-group">
        <label>
            email
        </label>
        <input type="email" [formControl]="email" class="form-control">
        <label>
            senha
        </label>
        <input type="password" [formControl]="senha" class="form-control">
        <p>
          <button (click)="login()" class="btn btn-primary">Entrar</button>
        </p>
      </div>
    </form>
    </div>
  
</div>
</div>