<nav class="navbar navbar-expand-lg navbar-primary bg-primary" id='barra-menu'>
  <a class="navbar-brand" routerLink="'/principal'"> <img src="./../../assets/logo1.png" alt="logo do Obra Fácil" width="40px" height="40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav">
        <!-- <ng-template [ngIf]="logado==true"> -->
        <li class="nav-item">
           <a class="nav-link" routerLink="{{this.principal}}">Principal</a>
        </li>
        <!-- </ng-template> -->
        <li class="nav-item">
           <a class="nav-link"  routerLink="{{this.cadastro}}">Cadastro</a>
        </li>
        <ng-template [ngIf]="id != ''">
        <li class="nav-item">
            <a class="nav-link" routerLink="{{lista_prof}}">Lista de Profissionais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/publicacao">Publicações</a>
        </li>
        </ng-template>
      </ul>
      
      <ul class="navbar-nav ml-md-auto">
        <ng-template [ngIf]="logado==true">
            <li class='ola'>Olá, Usuário.</li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/login">Sair</a>
          </li>
        </ng-template>
        </ul>
                
    </div>
  </nav>