<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-default">
				<h5 class="card-header">
					Olá, Usuário!
				</h5>
				<div class="card-body">
					<p class="card-text">
						Acesse seu perfil:
					</p>
					<button type="button" class="btn btn-primary" routerLink="{{this.principal}}">
						Acessar
					</button>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<div class="card">
				<h5 class="card-header">
					Agendamentos
				</h5>
				<div class="card-body">
					<p class="card-text">
						Consulte seus agendamentos.
					</p>
					
					<button type="button" class="btn btn-primary"  routerLink="{{this.login}}">
						Acessar
					</button>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<h5 class="card-header">
					Publicações
				</h5>
				<div class="card-body">
					<p class="card-text">
						Atualize-se sobre os protocolos de prevenção ao COVID-19 e muito mais!
					</p>
					<button type="button" class="btn btn-primary" routerLink="{{this.publicacao}}">
						Acessar
					</button>
				</div>
			</div>

			<div class="card" id='card2'>
				<h5 class="card-header">
					Encontre um profissional
				</h5>
				<div class="card-body">
					<p class="card-text">
						Encontre um profissional com a especialidade que você precisa.
					</p>
					<button type="button" class="btn btn-primary" routerLink="{{this.lista_prof}}">
						Acessar
					</button>
				</div>
			</div>
		</div>
			<div class="col-md-6">
				<div class="card">
					<h5 class="card-header">
						Agendamentos
					</h5>
					<div class="card-body">
						<div>
							<div class="month">
							  <ul>
								<li class="prev">&#10094;</li>
								<li class="next">&#10095;</li>
								<li>
								  Julho<br>
								  <span style="font-size:18px">2020</span>
								</li>
							  </ul>
							</div>
					  
							<ul class="weekdays">
							  <li>S</li>
							  <li>T</li>
							  <li>Q</li>
							  <li>Q</li>
							  <li>S</li>
							  <li>S</li>
							  <li>D</li>
							</ul>
					  
							<ul class="days">
							  <li></li>
							  <li></li>
							  <li>1</li>
							  <li>2</li>
							  <li>3</li>
							  <li>4</li>
							  <li>
								<span class="active">6</span></li>
							  <li>6</li>
							  <li>7</li>
							  <li>8</li>
							  <li>9</li>
							  <li>10</li>
							  <li>11</li>
							  <li>12</li>
							  <li>13</li>
							  <li>14</li>
							  <li>15</li>
							  <li>16</li>
							  <li>17</li>
							  <li>18</li>
							  <li>19</li>
							  <li>20</li>
							  <li>21</li>
							  <li>22</li>
							  <li>23</li>
							  <li>24</li>
							  <li>25</li>
							  <li>26</li>
							  <li>27</li>
							  <li>28</li>
							  <li>29</li>
							  <li>30</li>
							  <li>31</li>
							</ul>
						  </div>
					</div>
				</div>
			</div>
	</div>
</div>
